@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');


/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    font-family: $font-main;
    background-color: $dark;
    color: $white;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: $white;
    transition: color 0.2s ease-in;
    
    &:hover {
        color: $accent;
    }
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;

    &--sm {
        max-width: 839px;
    }
}

.text-right {
    text-align: right;
}

.visually-hidden {
    /* Contain text  within 1px box*/
    
    height: 1px;
    width: 1px;
    overflow: hidden;

    /* Keep the layout*/
    position: absolute;

    /* Remove any visible trace (e.g. background color)*/
    clip: rect(1px 1px 1px 1px); /*IE6, IE7*/
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%); /*browsers in the future*/
    
    /* Prevent the screen reader to skip spaces*/
    
    white-space: nowrap;
    
}
